<input type="text" ng-model="$ctrl.path">
<button ng-click="$ctrl.getFiles($ctrl.path)">Get Files</button>
<button ng-click="$ctrl.back()">Back</button>
<button ng-click="$ctrl.viewLog()">View log</button>
<div ng-repeat="file in $ctrl.files" ng-bind="file.name" ng-click="$ctrl.open(file)"></div>
<hr>
<pre id="json-renderer"></pre>